<div style="padding-top: 150px;">
  <div class="text-center text-white">
    <span style="font-size: 2.5rem; color:#4fc8c2;">Medical</span><span style="font-size: 2.5rem; color: grey;">DataMaster</span>
    <h2 style="color: grey;">
      By this function you can see the patients last filter visits
    </h2>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Model</th>
            <th scope="col">Seats</th>
            <th scope="col">Állapot</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @for (item of patients; track item; let i = $index) {
            <tr>
              
                <th scope="row">{{ item.id}}</th>
                
                <td>
                    {{item.firstName}}
                </td>
                <td>{{item.lastName}}</td>
                <td>
                    {{item.Taj}}
                </td>
                <td>
                  {{item.Gender}}
              </td>
              <td>
                {{item.BirthDate}}
            </td>
            <td>
              {{item.Gender}}
          </td>
          <td>
         
              {{filtem(item.Taj)}}
           
        </td>
        <td>
          
            {{filterc(item.Taj)}}
          
         
          
      </td>
      <td>
    
          {{filterl(item.Taj)}}
      
      
    </td>
    <td>
      
        {{filterp(item.Taj)}}
      
      
  </td>
              <td>
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Send Email</button>
            </td>
              
            </tr>
        }
    </tbody>
</table>
  <table mat-table class="mat-elevation-z8" style="padding-top: 50px;" >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="masterToggle()" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let patient">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(patient)" [checked]="selection.isSelected(patient)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Firstname </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.firstName }} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Lastname </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.lastName }} </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let patient"> {{ calculateAge(patient.BirthDate) }} </td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let patient"> {{ patient.Gender }} </td>
    </ng-container>
    <ng-container matColumnDef="lungscreen">
      <th mat-header-cell *matHeaderCellDef> Lung Screen </th>
      <td mat-cell *matCellDef="let slicer"> {{ slicer?.lungscreen | date: 'short' }} </td>
    </ng-container>
    <ng-container matColumnDef="prostatescreen">
      <th mat-header-cell *matHeaderCellDef> Prostate Screen </th>
      <td mat-cell *matCellDef="let slicer"> {{ slicer?.prostatescreen | date: 'short' }} </td>
    </ng-container>
    <ng-container matColumnDef="mamografScreen">
      <th mat-header-cell *matHeaderCellDef> Mamograf Screen </th>
      <td mat-cell *matCellDef="let slicer"> {{ slicer?.mamografScreen | date: 'short' }} </td>
    </ng-container>
    <ng-container matColumnDef="CommonScreen">
      <th mat-header-cell *matHeaderCellDef> Common Screen </th>
      <td mat-cell *matCellDef="let slicer"> {{ slicer?.CommonScreen | date: 'short' }} </td>
    </ng-container>

    
  </table>
  @for (item of patients; track $index){
    <option value={{item}}>{{item}}</option>
}
  <div class="btn d-flex justify-content-center">
    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Send Email</button>
  </div>
</div>
